@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root { height: 100%; }
  body {
    @apply bg-ink-900 text-slate-100 antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }
  .mono { font-family: 'JetBrains Mono', ui-monospace, monospace; }
}
